<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/CS-499-smart-slicing/css/main.css">
	</head>
	<body>
		<h2>CS 499, University of Kentucky, Spring 2018 - Smart Z Slicing</h2>
		<nav>
		<ul>
			<li><a href="/CS-499-smart-slicing/index.html">Home</a></li>
			<li><a href="/CS-499-smart-slicing/about.html">About</a></li>
			<li><a href="/CS-499-smart-slicing/team.html">Team</a></li>
			<li><a href="/CS-499-smart-slicing/project_log/">Project Log</a></li>
			<li><a href="/CS-499-smart-slicing/requirements.html">Project Requirements</a></li>
			<li><a href="/CS-499-smart-slicing/timeline.html">Project Timeline</a></li>
			<li><a href="/CS-499-smart-slicing/design.html">Project Design</a></li>
            <li><a href="/CS-499-smart-slicing/results.html">Project Conclusion</a></li>
		</ul>
		</nav>
		<div class="container">

		{{ content }}

		</div><!-- /.container -->
		<footer>
		<ul>
			<li><a href="mailto:mamu235@g.uky.edu">Email the Webmaster</a></li>
			<li><a href="https://github.com/mamu235">github.com/mamu235</a></li>
		</ul>
		Disclaimer:

This project has been designed and implemented as a part of the requirements for CS-499 Senior Design Project for Spring 2018 semester. While the authors make every effort to deliver a high quality product, we do not guarantee that our products are free from defects. Our software is provided "as is," and you use the software at your own risk. We make no warranties as to performance, merchantability, fitness for a particular purpose, or any other warranties whether expressed or implied.

No oral or written communication from or information provided by the authors or the University of Kentucky shall create a warranty.

Under no circumstances shall the authors or the University of Kentucky be liable for direct, indirect, special, incidental, or consequential damages resulting from the use, misuse, or inability to use this software, even if the authors or the University of Kentucky have been advised of the possibility of such damages.
		</footer>
	</body>
</html>
